@import '../../mixins';
.app {
	&__info {
		grid-column: 4 / 5;
		grid-row: 2 / 4;
		background-color: #8659DF;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		@include responsive(phone){
			grid-column: 1 / -1;
			grid-row: 8 / 9;
		}
		& > *:not(:last-child){
			margin-bottom: 2rem;
		}
		& > * {
			animation: fadeIn 1s forwards ease-out;
		}
	}
	&__country {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-name {
			background-color:#9B75E5;
			padding: 1rem 2rem;
			font-size: 1.2rem;
			text-transform: uppercase;
			text-align: center;
			border-radius: 5px;
			margin-right: 1rem;
			& > span {
				display: block;
			}
		}
		&-flag {
			height: 5rem;
			width: 4rem;
		}
	}
	&__img {
		height: 100%;
		width: 100%;
	}
}